<h2>Magazzino</h2>

        <form th:each="p:${products}">
            Nome: <span th:text="${p.nome_prodotto}"></span> - Prezzo: €<span th:text="${p.prezzo}"></span>
            <button formaction="/show" method="GET">Dettagli</button>
            <input type="hidden" name="id" th:value="${p.id}">
        </form> 

        <form action="/filter" method="GET">
            <button type="submit" name="action" value="filter">Filtra</button>
        </form><br>
        
        <form action="/create" method="GET">
            <button>Crea un nuovo prodotto</button>
        </form>