<h2>Modifica</h2>

<form method="POST" th:object="${author}">
        nome:<input type="text" name="nome" th:value="*{nome}" required><br>
        data di nascita:<input type="text" name="b_date" th:value="*{b_date}" required><br>
        contry:<input type="text" name="country" th:value="*{country}" required><br>
        <button formaction="/update" method="POST">aggiorna</button>
        <button formaction="/delete" method="POST">ellimina</button>
        <input type="hidden" name="id" th:value="*{id}">
</form>

<br>

<a href="/"><button>Torna alla home</button></a>