<html>
    <body>
        <form action="/read" method="GET">
            <button>vedi tutti</button>
        </form>

        <form action="/insert" method="POST">
            isbn:  <input type="text" name="isbn" required><br>
            titolo:  <input type="text" name="titolo" required><br>
            autore:  <input type="text" name="autore" required><br>
            prezzo: <input type="text" name="prezzo" required>
            <button>inserisci</button>
        </form>
    </body>
</html>